.tituloPrincipal{
       padding-left: 30px;
}
#banner{
    width: 100%;
}
.Principal{
    background:#CCCCCC;
    padding: 20px;
}
.tituloCentralizado{
    text-align:center;
}

p{
    text-align: center;
}

em strong{
    color: red;
}
#mision{
    font-size:20p;
}
.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.items{
    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 22%;
    margin-right: 10%;
}
.imagenDiferenciales{
    width: 30%;
}